.direction {
  justify-content: space-between;
}
.finish-btn-position {
  position: absolute;
  right: 20px;
  top: 24px;
  z-index: 10;
}
#finish-btn {
  width: 100px;
  color: #fff;
  outline: none;
}
.modal-body, label {
	margin: 0;
	padding: 0;
	max-height: 600px;
}
.text-message {
	width: 50%;
	float: left;
}
.margin20 {
  margin: 16px 0 24px 0;
}
.controls-row:nth-of-type(3) {
  margin-bottom: 0;
}
#course-type {
  margin: 0;
  padding: 0;
  padding-left: 8px;
  margin-right: 40px;
}
.input-width {
  width: 154px;
  height: 30px;
  display: inline-block;
  color: #6f6f7e;
}
.input-area {
  display: inline-block;
  width: 17.2%;
  height: 30px;
  color: #6f6f7e;
}
.controls-row {
  margin-bottom: 20px;
}
#course-price {
  margin-right: 40px;
}
#imghead {
  width: 200px;
  height: 138px;
  object-fit: contain;
}
.photo {
  width: 17.25%;
  display: inline-block;
  margin-left: 7.5%;
  margin-top: 1%;
}
.controls-div {
  padding: 0 3.24%;
}
.tag-div {
  display: inline-block;
  vertical-align: middle;
  width: 70.7%;
  border-radius: 4px;
  font-size: 12px;
  font-family: "微软雅黑";
}
.hot-tag-div {
  margin-top: 8px;
  margin-left: 62px;
  span {
    display: inline-block;
    border: 1px solid #ccc;
    background: #f3f3fc;
    height: 28px;
    line-height: 28px;
    padding: 0 5px;
    border-radius: 4px;
  }
}
.ui-helper-hidden-accessible {
  display: none;
}
#teacher {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  font-size: 14px;
  font-family: "微软雅黑";
  margin-left: 2px;
  outline: none;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
}
.teacher-div {
  width: 70.5%;
  margin-left: 64px;
  margin-top: 10px;
}
.no-mb {
  margin-bottom: 0;
}
.hot-tag-hide {
  display: none;
}
.course-introduce {
  margin:20px 0;
}
.introduce {
  margin-right: 2px;
  vertical-align: top;
}
.wangedit-area {
  display: inline-block;
  width: 70.5%;
  font-size: 14px;
}
.w-e-text-container {
  height: 200px !important;
}
.w-e-menu {
  z-index: 10 !important;
}
.addlesson {
  display: inline-block;
  padding: 0 20px;
  background: #10c078;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}
.input-caption {
  font-weight: normal;
}
#course-name {
  width: 80%;
}
.course-lesson {
  margin-bottom: 20px;
}
.lesson-div {
  margin-bottom: 20px;
}
.lesson-title {
  width: 70.5%;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 66px;
  padding: 10px;
}

#lessonModal {
  .modal-dialog {
    position:absolute;
    left: 50%;
    top: 50%;
    margin-left: -400px;
    margin-top: -210px;
    width: 800px;
    height: 420px;
  }
  .modal-backdrop {
    background-color: #999;
  }
  .modal-content {
    border-radius: 12px;
  }
  .modal-body {
    margin: 0;
    padding: 20px 40px;
  }
  .close {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 1;
    z-index: 15;
  }
  .confirm-btn-position {
    position: absolute;
    right: 350px;
    bottom: 60px;
  }
  #confirm-btn {
    width: 100px;
    color: #fff;
    outline: none;
    background: #10c078;
  }
  .all-div {
    margin: 0 auto;
    text-align: center;
  }
  .select-page {
    margin-top: 60px;
  }
}

ol.example li.placeholder {
  position: relative;
  /** More li styles **/
}
ol.example li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}

.ui-draggable, .ui-droppable {
  background-position: top;
}
.add-tag {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  padding: 0 10px;
  border-radius: 4px;
  margin-left: 4px;
  margin-right: 8px;
  .delete-tag {
    width: 12px;
    height: 12px;
    display: none;
    margin-left: 4px;
    margin-top: -4px;
  }
}
.add-tag-hover {
  border: 1px solid #ccc;
  background: #f3f3fc;
}
.unadd {
  display: inline-block;
  margin-left: 4px;
}
.teacher-id {
  display: none;
}
