.direction {
  justify-content: space-between;
}
.create-btn-position {
  position: absolute;
  right: 20px;
  top: 24px;
  z-index: 10;
}
#edit-btn, #delete-btn {
  width: 100px;
  color: #fff;
  outline: none;
}
.finish-btn-position {
  position: absolute;
  right: 20px;
  top: 24px;
  z-index: 10;
}
.delete-btn-position {
  position: absolute;
  right: 140px;
  top: 24px;
  z-index: 10;
}
#finish-btn {
  width: 100px;
  display: none;
  color: #fff;
  outline: none;
}
.text-message {
  width: 50%;
  float: left;
  margin-top: 6px;
}
.margin20 {
  margin: 16px 0 24px 0;
}
#mobile-label {
  margin-left: 15px;
}
#tencent-label {
  margin-left: 20px;
}
#Email-label {
  margin-left: 28px;
}
.text-message .controls-row:last-child {
  margin-bottom: 0;
}
#teacher-name {
  margin: 0;
  padding: 0;
  padding-left: 8px;
  margin-right: 40px;
}
.input-width {
  width: 154px;
  height: 30px;
  display: inline-block;
  color: #6f6f7e;
}
.input-area {
  display: inline-block;
  width: 17.2%;
  height: 30px;
  color: #6f6f7e;
}
.controls-row {
  margin-bottom: 20px;
}
#tencent {
  margin-right: 40px;
}
#imghead {
  width: 88px;
  height: 88px;
  object-fit: contain;
}
.photo {
  width: 300px;
  display: inline-block;
  margin-left: 110px;
}
.controls-div {
  padding: 0 3.24%;
}

.course-introduce {
  margin:20px 0;
}
.introduce {
  margin-right: 2px;
  vertical-align: top;
}
.wangedit-area {
  display: inline-block;
  width: 694px;
  font-size: 14px;
}
.w-e-text-container {
  height: 180px !important;
}
.input-caption {
  font-weight: normal;
}
.middle {
  width: 416px;
  margin-right: 84px;
}
.double-label {
  margin-left: 28px;
}
.vt {
  vertical-align: top;
}
.longinput {
  width: 694px;
}
.edit-box {
  display: none;
}
.introduce-flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-felx;
  display: flex;
}
#edit-area {
  margin-left: 4px;
}
.teacher-avatar {
  width: 88px;
  height: 88px;
}
.unedit-span {
  display: inline-block;
  width: 190px;
}
.mt25 {
  margin-top: 25px;
}
.mt15 {
  margin-top: 15px;
}
.middle-span {
  display: inline-block;
  width: 500px;
}
.longspan {
  display: inline-block;
  width: 686px;
}


//tab2
.mr30 {
  margin-right: 50px;
}
.tag2-page {
  float: right;
  width: 50%;
}