.direction {
  justify-content: space-between;
}
.finish-btn-position {
  position: absolute;
  right: 20px;
  top: 24px;
  z-index: 10;
}
.desc-div {
  padding-top: 40px;
}
.delete-btn-position {
  position: absolute;
  right: 140px;
  top: 24px;
  z-index: 10;
}
.create-btn-position {
  position: absolute;
  right: 20px;
  top: 24px;
  z-index: 10;
}
#finish-btn {
  display: none;
}
.input-caption {
  font-weight: normal;  
}
.input-area {
  display: inline-block;
  width: 20%;
  height: 2.143em;
  margin: 0 6.3% 0 1%;
}
.form-group {
  margin-bottom: 2%;
  .form-control {
    display: inline-block;
    width: 50%;
    margin-left: 1%;
  }
}
.introduce {
  float: left;
  display: inline-block;
  vertical-align: top;
}
.notice-introduce {
  margin-top: 2%;
}
.wangedit-area {
  float: left;
  width: 70%;
  font-size: 16px;
  margin-left: 1.5%;
}
.w-e-text-container {
  height: 200px !important;
}
.progress {
  width: auto;
  margin-bottom: 0;
}
.video-file {
  display: -webkit-flex;
  display: -moz-flex;
  display: -os-flex;
  display: -o-flex;
  display: flex;
}
.wu-example {
  width: 70%;
  margin-left: 1.5%;
  .item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -os-flex;
    display: -o-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -os-align-items: center;
    -o-align-items: center;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -os-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
  }
  .btn-xs {
    width: 60px;
  }
  .delete_btn {
    padding: 1px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    color: #333;
    background-color: #fff;
    outline: none;
    border: 1px solid #ccc;
  }
}
.webuploader-pick {
  border: 1px solid #ccc;
}
#ctlBtn {
  outline: none;
  padding: 6px 12px;
  margin-left: 20px;
}
.webuploader-container {
  height: 34px;
}
.btns {
  display: -webkit-flex;
  display: -moz-flex;
  display: -os-flex;
  display: -o-flex;
  display: flex;
}
.video-id {
  display: none;
}
#edit-btn, #finish-btn, #delete-btn {
  width: 100px;
  color: #fff;
  outline: none;
}
.ml4 {
  margin-left: 4px;
}
.introduce-flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-felx;
  display: flex;
}
.edit-box {
  display: none;
}
.unedit-box {
  margin-left: 1%;
}
.introduce-span {
  width: 70%;
}



