.direction {
  justify-content: space-between;
}
.finish-btn-position {
  position: absolute;
  right: 20px;
  top: 24px;
  z-index: 10;
}
.delete-btn-position {
  position: absolute;
  right: 260px;
  top: 24px;
  z-index: 10;
}
#finish-btn, #edit-btn, #unshelve-btn, #shelve-btn, #delete-btn {
  width: 100px;
  color: #fff;
  outline: none;
}
#finish-btn {
  display: none;
}
.unshelve-btn-position {
  position: absolute;
  right: 140px;
  top: 24px;
  z-index: 10;
}
.create-btn-position {
  position: absolute;
  right: 20px;
  top: 24px;
  z-index: 10;
}
.modal-body, label {
  margin: 0;
  padding: 0;
  max-height: 600px;
}
.text-message {
  width: 50%;
  float: left;
}
.tag-span {
  display: inline-block;
  margin-right: 4px;
}
.margin20 {
  margin: 16px 0 24px 0;
}
.text-message .controls-row:nth-of-type(3) {
  margin-bottom: 0;
}
#course-type {
  margin: 0;
  padding: 0;
  padding-left: 8px;
  margin-right: 40px;
}
.input-width {
  width: 154px;
  height: 30px;
  display: inline-block;
  color: #6f6f7e;
}
.input-area {
  display: inline-block;
  width: 17.2%;
  height: 30px;
  color: #6f6f7e;
}
.controls-row {
  margin-bottom: 20px;
}
#course-price {
  margin-right: 40px;
}
.tag-hide-id {
  display: none;
}
.ml4 {
  margin-left: 4px;
}
#imghead {
  width: 200px;
  height: 138px;
  object-fit: contain;
}
.photo {
  width: 17.25%;
  display: inline-block;
  margin-left: 7.5%;
  margin-top: 1%;
}
.controls-div {
  padding: 0 3.24%;
}
.tag-flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-felx;
  display: flex;
  -webkit-align-items: center; 
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}
.tag-div {
  display: inline-block;
  vertical-align: middle;
  width: 70.7%;
  border-radius: 4px;
  height: 30px;
  font-size: 12px;
  font-family: "微软雅黑";
  margin-left: 4px;
}

.hot-tag-div {
  margin-top: 8px;
  margin-bottom: 20px;
  margin-left: 62px;
  span {
    display: inline-block;
    border: 1px solid #ccc;
    background: #f3f3fc;
    height: 28px;
    line-height: 28px;
    padding: 0 5px;
    border-radius: 4px;
  }
}

.unedit-photo {
  width: 200px;
  height: 138px;
}
.ui-helper-hidden-accessible {
  display: none;
}
.mb8 {
  margin-bottom: 8px;
}
.no-mb {
  margin-bottom: 0;
}
.hot-tag-hide {
  display: none;
}
.course-introduce {
  margin:20px 0;
}
.introduce {
  margin-right: 2px;
  vertical-align: top;
}
.wangedit-area {
  display: inline-block;
  width: 70.5%;
  font-size: 14px;
  margin-left: 4px;
}
.w-e-text-container {
  height: 200px !important;
}
.addlesson {
  display: inline-block;
  padding: 0 20px;
  background: #10c078;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}
.input-caption {
  font-weight: normal;
}
#course-name {
  width: 80%;
}
.course-lesson {
  margin-bottom: 20px;
}
.lesson-title {
  display: inline-block;
  width: 70.5%;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 200px;
  margin-bottom: 20px;
}
.lesson-div {
  margin-bottom: 20px;
}
.title-desc {
  display: block;
}


#lessonModal {
  .modal-dialog {
    position:absolute;
    left: 50%;
    top: 50%;
    margin-left: -400px;
    margin-top: -183px;
    width: 800px;
    height: 366px;
  }
  .modal-backdrop {
    background-color: #999;
  }
  .modal-content {
    border-radius: 12px;
  }
  .modal-body {
    margin: 0;
    padding: 20px 40px;
  }
  .close {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 1;
    z-index: 15;
  }
  .confirm-btn-position {
    position: absolute;
    right: 350px;
    bottom: 20px;
  }
  #confirm-btn {
    width: 100px;
    color: #fff;
    outline: none;
    background: #10c078;
  }
  .all-div {
    margin: 0 auto;
    text-align: center;
  }
}

#lesson-date, #lesson-address {
  width: 40%;
  margin-right: 98px;
}


.calendar-wrapper {
  width: 77%;
  border-radius: 6px;
  margin-top: 2%;
}
.title {
  text-align: center;
  margin: 6.3% 0 3.2% 0;
}
.small-tips {
  text-align: center;
  color: #c8c8c8;
  margin-bottom: 6.3%;
}
.input-date {
  display: inline-block;
  margin-right: 1%;
  vertical-align: middle;
  font-weight: normal;
}
#add-event {
  width: 75%;
  background: #10c078;
  color: white;
}
.add-btn:hover {
  color: white;
}
.repeat {
  width: 75%;
  margin: 3.2% auto;
}
.date-btn {
  float: left;
  width: 46%;
  background: #c8c8c8;
  color: white;
}
#date-btn, #week-btn {
  color: white;
  outline: none;
}
.date-btn:hover {
  color: white;
}
.week-btn {
  @extend .date-btn;
  float: right;
}
h2 {
  padding-top: 10px;
}

.active-btn {
  background: #f7873d;
}
.no-margin-right {
  margin-right: 0;
}
.form-inline {
  margin-bottom: 20px;
}


.ui-draggable, .ui-droppable {
  background-position: top;
}
.teacher-edit-box {
  height: 28px;
  height: 28px;
}
.add-tag {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  padding: 0 10px;
  border-radius: 4px;
  margin-left: 6px;
  margin-right: 8px;
  .delete-tag {
    width: 12px;
    height: 12px;
    display: none;
    margin-left: 4px;
    margin-top: -4px;
  }
}
.add-tag-hover {
  border: 1px solid #ccc;
  background: #f3f3fc;
}
.unadd {
  display: inline-block;
  margin-left: 4px;
}
.teacher-id {
  display: none;
}


.edit-box {
  display: none;
}
#teacher {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  font-size: 14px;
  font-family: "微软雅黑";
  margin-left: 2px;
  outline: none;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
}
.teacher-div {
  width: 70.5%;
  margin-left: 64px;
  margin-top: 10px;
}
.ui-draggable, .ui-droppable {
  background-position: top;
}
.add-tag {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  padding: 0 10px;
  border-radius: 4px;
  margin-left: 4px;
  margin-right: 8px;
  .delete-tag {
    width: 12px;
    height: 12px;
    display: none;
    margin-left: 4px;
    margin-top: -4px;
  }
}
.add-tag-hover {
  border: 1px solid #ccc;
  background: #f3f3fc;
}
.unadd {
  display: inline-block;
  margin-left: 4px;
}
.teacher-id {
  display: none;
}
.introduce-flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-felx;
  display: flex;
}
.show-calendar {
  float: left;
  width: 100%;
  border: 1px solid #c8c8c8;
  border-radius: 4px;
  font-size: 14px;
}
.calendar-operation-wrapper {
  width: 40%;
  float: left;
  text-align: center;
  display: none;
}
.edit-calendar {
  width: 59%;
  float: right;
  font-size: 14px;
}
.short-span {
  display: inline-block;
  width: 194px;
}
.mid-span {
  display: inline-block;
  width: 40%;
  margin-right: 98px;
}
.mt30 {
  margin-top: 46px;
}


#shelfModal {
  .modal-dialog {
    position:absolute;
    left: 50%;
    top: 50%;
    margin-left: -220px;
    margin-top: -113px;
    width: 438px;
    height: 226px;
    border-radius: 6px; 
  }
  .modal-body {
    padding: 40px;
  }
}
.modal-backdrop {
  background-color: #999;
}
.close {
  position: absolute;
  right: -14px;
  top: -14px;
  opacity: 0.7;
  z-index: 10;
}
.close:hover {
  opacity: 1;
}
.message {
  margin: 20px 0;
  font-size: 16px;
  color: #323232;
  text-align: center;
}
.btn-div {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  display: flex;
  justify-content: space-between;
  .btn {
    width: 45%;
    font-size: 16px;
    color: white;
    border: 0;
    height: 40px;
  }
}
#shelf-cancel {
  background: #10c078;
  outline: none;
}
#shelf-confirm {
  background: #f7873d;
  outline: none;
}


//tab2
.status {
  display: none;
}
.course-status {
  margin: 10px 0 5px 10px;
}
.square {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: #cfcfcf;
  border-radius: 2px;
  margin-right: 5px;
  vertical-align: middle;
}
.join-square {
  @extend .square;
  background: #0fc077;
}
.miss-square {
  @extend .square;
  background: #d70c19;
}
.mr30 {
  margin-right: 50px;
}
.tag2-page {
  float: right;
  width: 50%;
}


#noticeModal {
  .modal-body {
    margin: 0;
    padding: 0;
  }
  .modal-dialog {
    position:absolute;
    left: 50%;
    top: 50%;
    margin-left: -220px;
    margin-top: -150px;
    width: 440px;
    height: 300px;
    border-radius: 6px; 
  }
}
.modal-backdrop {
  background-color: #999;
}
.close {
  position: absolute;
  right: -14px;
  top: -14px;
  opacity: 0.7;
  z-index: 10;
}
.close:hover {
  opacity: 1;
}
.notice-div {
  padding: 40px 50px;
}
.notice-content {
  font-size: 16px;
  color: #323232;
}
.vt {
  vertical-align: top;
}
.text-div {
  width: 78%;
  height: 65px;
  font-size: 14px;
  color: #969696;
  margin-bottom: 5px;
  margin-top: 5px;
  border: 1px solid #aaa;
  outline: none;
}
.delivery-btn {
  width: 100%;
  background: #f7873d;
  color: #fff;
  margin-bottom: 15px;
}
.delivery-btn:hover {
  color: #fff;
}
.notice-bottom {
  margin-bottom: 15px;
}
.message-div {
  font-size: 0;
}
.notice-date {
  font-size: 14px;
}
.notice-message {
  font-size: 14px;
  color: #173177;
}
.display-message {
  width: 100%;
  font-size: 14px;
  padding: 5px;
  display: none;
  border: 1px solid #ddd;
}

//tab3
.sign-box {
  margin: 20px 20px 0 20px;
  border-radius: 6px;
  border: 1px solid #ddd;
  display: -ms-flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
}
.sign-method {
  -webkit-flex: 1;
          flex: 1;
  border-right: 1px solid #ddd;
}
.class-choice {
  border-bottom: 1px dashed #ddd;
  padding-left: 20px;
  height: 115px;
  display: -ms-flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.select-style {
  display: inline-block;
  width: 180px;
  height: 34px;
  line-height: 34px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 20px;
  outline: none;
  font-size: 14px;
  padding-left: 10px;
}
.mask {
  visibility: hidden;    //隐藏mask
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgb(221, 221, 221);
  background: rgba(221, 221, 221,0.8);
  display: -ms-flexbox;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  .notice {
    padding: 0 34%;
    font-size: 16px;
    color: #323232;
  }
}

.method {
  position: relative;
  padding: 0 26.3%;
  text-align: center;
}
.caption {
  padding: 20px 0 0 0;
  font-size: 14px;
}
.scan-notice {
  font-size: 10px;
  color: #aaa;
  padding-bottom: 20px;
  padding-top: 5px;
}
#qr-code {
  margin-bottom: 40px;
}
.code-figure {
  width: 100%;
  max-width: 200px;
}

.sign-status-box {
  -ms-flex: 2;
  -webkit-flex: 2;
  flex: 2;
  display: -ms-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.sign-status {
  width: 60%;
  h5 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 40px;
  }
}
#sign-table {
  width: 390px;
  border-radius: 6px;
  // border: 1px solid #ddd;
  // font-size: 0;
  .sign-data {
    display: inline-block;
    width: 32%;
    height:45px;
    line-height: 45px;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 20px;
    margin-bottom: 4px;
    margin-right: 2px;
  }
  .check-in {
    background: rgb(16, 192, 120);
    background: rgba(16, 192, 120,0.3);
  }
}