.search-box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 20;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  p {
    text-align: center;
    line-height: 0.88rem;
  }
}
.back {
  position: absolute;
  width: 0.88rem;
  top: 0;
  left: 0;
}
.wrapper {
	padding-top: 0.88rem;
}
.course-item-div {
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
}