.wrapper {
  min-height: 100%;
  background: #f6f6f6;
  padding-bottom: 1.1rem;
  padding-top: 0.88rem;
}
.head-div {
  position: fixed;
  top: 0;
  width: 100%;
  line-height: 0.88rem;
  background: #fff;
  z-index: 10;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}
.profile-close {
  position: absolute;
  top: 0;
  left: 0.06rem;
  width: 0.88rem;
}
.item-div {
  background: #f6f6f6;
  min-height: 100%;
  overflow: auto;
  padding-top: 0.24rem;
  padding-left: 0.24rem;
  padding-right: 0.24rem;
}
.item, .item-baby-div {
  height: 3.2rem;
  background: #fff;
  border-radius: 4px;
  margin-bottom: 0.24rem;
  padding-right: 0.24rem;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-felx;
  display: flex;
  -webkit-justify-content: sapce-between; 
  -moz-justify-content: sapce-between;
  -ms-justify-content: sapce-between;
  -o-justify-content: sapce-between;
  justify-content: sapce-between;
  .left-div {
    width: 1.88rem;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-felx;
    display: flex;
    -webkit-align-items: center; 
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-justify-content: center; 
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
  }
  .right-div {
    position: relative;
    flex: 1;
    padding: 0.6rem 0;
    label {
      width: 1.32rem;
    }
    input {
      flex: 1;
    }
  }
}
.avatar {
  width: 1.08rem;
}
.row-div {
  margin-bottom: 0.36rem;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-felx;
  display: flex;
  -webkit-justify-content: sapce-between; 
  -moz-justify-content: sapce-between;
  -ms-justify-content: sapce-between;
  -o-justify-content: sapce-between;
  justify-content: sapce-between;
  -webkit-align-items: center; 
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}
.input-div {
  font-size: 1.2em;
  color: #666;
  border-bottom: 1px solid #ccc;
}
.replace {
  display: none;
  margin-left: 0.16rem;
}
#parent, #baby-gender {
  outline: none;
  border: 0;
  border-bottom: 1px solid #ccc;
  width: 3.6rem;
}
.mobile-div {
  border-bottom: 1px solid #ccc;
}
#mobile {
  width: 2.1rem;
}
.edit {
  position: absolute;
  bottom: 0.12rem;
  right: 0;
}
.edit:link {
  color: #8dbdf2;
}
.edit:visited {
  color: #8dbdf2;
}
.edit:hover {
  color: #8dbdf2;
}
.edit:active {
  color: #8dbdf2;
}
.pt16 {
  padding-top: 0.16rem;
  text-align: center;
}
#edit-end {
  position: fixed;
  bottom: 0.24rem;
  left: 0.24rem;
  width: 7.02rem;
  height: 0.88rem;
  line-height: 0.88rem;
  padding: 0;
  background: #fc90a5;
  color: #fff;
  font-size: 1.6em;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}
#code {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  background: #fff;
  width: 1.4rem;
  text-align: center;
}
