.sign-div {
  text-align: center;
}
.fail-icon, .success-icon {
  display: inline-block;
  width: 1.6rem;
  margin: 0.8rem 0 0.48rem 0;
}
.reason {
  margin-top: 0.32rem;
  margin-bottom: 0.8rem;
}
#scan, #view {
  padding: 0;
  width: 7.02rem;
  margin-left: 0.24rem;
  background: #fc90a5;
  color: #fff;
  height: 0.88rem;
  line-height: 0.88rem;
  border-radius: 4px;
}
.name-div {
  margin-top: 0.24rem;
  margin-bottom: 0.24rem;
}
.mt80 {
  margin-top: 0.8rem;
}