.direction {
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -os-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
}
.desc-div {
  padding-bottom: 0;
}

.font-color-green:link {
  color: #40ca85; 
  text-decoration: none;
}
.font-color-green:visited {
  color: #40ca85;
  text-decoration: none;
}
.font-color-green:hover {
  color: #40ca85; 
  text-decoration: none;
}
.font-color-green:active {
  color: #40ca85; 
  text-decoration: none;
}
.font-color-brown:link {
  color: #e9885d; 
  text-decoration: none;
}
.font-color-brown:visited {
  color: #e9885d;
  text-decoration: none;
}
.font-color-brown:hover {
  color: #e9885d; 
  text-decoration: none;
}
.font-color-brown:active {
  color: #e9885d; 
  text-decoration: none;
}
.font-color-red:link {
  color: #e9657e; 
  text-decoration: none;
}
.font-color-red:visited {
  color: #e9657e;
  text-decoration: none;
}
.font-color-red:hover {
  color: #e9657e; 
  text-decoration: none;
}
.font-color-red:active {
  color: #e9657e; 
  text-decoration: none;
}